<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740178455138-temuvumvni9gk3m1284eeei3dqdqtngu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740178455138-temuvumvni9gk3m1284eeei3dqdqtngu</string>
	<key>API_KEY</key>
	<string>AIzaSyAbFAfz7PXdv_C-1maQh0NIXxNTbJCMLe4</string>
	<key>GCM_SENDER_ID</key>
	<string>740178455138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-7ccc9</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-7ccc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740178455138:ios:82b093455e0ddcc3bfff3b</string>
</dict>
</plist>